body{
	background: url('transp_bg.png');
	padding: 30px;
}
.v4sbox{
	background: black !important;
}
.gsp-wrapper{

}
.gsp-wrapper header{
	height: 300px;
	background: #555;
}
.gsp-wrapper header h1{
	float: left;
	background: red;
	color: white;
	line-height: 50px;
}