body{
	background: url('bg.jpg');
	font-family: 'Lato', sans-serif;
	padding: 5px !important;
  position: relative;
}
.gh-w, .tb_v4bc, .stBadge{
	background:#fff;
	display: none;
}
.gsp-wrapper{
  padding: 0px;
}
table, td, tr{
	border:none !important;

}
.v4mid{
  padding: 30px !important;
}
.v4acp_head{
  height: 33px;
  text-align: center;
}
.v4acpcont{
    text-align: center;
    position: relative;
}
.v4acpcont:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 33px;
    background:#6A5E50;
    left: 0;
}
.v4stabl{
	font-weight: bold;
	text-align: center;
	background:#6a5e50;
	color: #fff;
}
.image{
	-webkit-box-shadow: 0px 2px 16px -4px rgba(158,156,158,1);
	-moz-box-shadow: 0px 2px 16px -4px rgba(158,156,158,1);
	box-shadow: 0px 2px 16px -4px rgba(158,156,158,1);
	border:1px solid #eee;
	border-radius: 5px;
	padding: 10px;
}
.r3_t b, .r3_t i, .r3_bl b, .r3_bl i {
	display: none;
}
.r3_t, .r3_t b, .r3_bl, .r3_bl b {
	display: none;
}
.v4stabl a{
	color: #fff;
}
.r3{
	background:#fff;
	border-radius: 0px !important;
	border:none;
}
.gsp-wrapper header{
	background: #fff;
	position: relative;
	height: 80px;
	padding:10px 0px 20px 0px;
}
.gsp-wrapper form{
	background: #fff;
	float: right;
  margin-top: 15px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
  border:2px solid #d01e23;
  border-radius: 5px;
}

.gsp-wrapper form input{
	border:none;
	height: 35px;
}
.gsp-wrapper form input[type=text]{
	background: #fff;
	padding: 0px 20px;
	width: 200px;
}.gsp-wrapper form input[type=submit]{
	background: url('srch.svg');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 40px;
}
.gsp-wrapper nav{
	width: 100%;
	display: block;
	background:#6a5e50;
}
.gsp-wrapper nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.gsp-wrapper nav ul li{
	display: inline-block;
	padding: 10px 25px;
}
.gsp-wrapper nav ul li:hover{
	background:#222;
}
.gsp-wrapper nav ul li a{
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.v4acp_head{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
   letter-spacing: 1px;
}
.ttl{
   font-family: 'Lato', sans-serif;
   text-transform: uppercase;
   font-weight: bold;
}
.all_cats{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.link{
   font-family: 'Lato', sans-serif;
  font-weight: bold;
   letter-spacing: 1px;
}
.lev1 li a{
  color: #111;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.caption {
  top: 35%;
  position: absolute;
  left: 8rem;
  z-index: 9;
  transform: translateY(-50%);
  opacity: 0;
  transition: 500ms ease opacity, 500ms ease transform;
  transform: translateY(60px);
}
.caption.current-caption {
  transition-delay: 1000ms;
  opacity: 1;
  transform: translateY(0);
}
.caption.previous-caption {
  transform: translateY(-60px);
}
.caption .caption-heading {
  transition: 500ms ease-in all;
}
.caption .caption-heading h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-indent: -0.2rem;
  letter-spacing: .2rem;
  font-weight: 300;
}
.caption .caption-subhead {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  word-spacing: .1rem;
  margin-bottom: 2.5rem;
  display: block;
}
.caption a.btn {
  color: #333;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: white;
  padding: .5rem 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  position: relative;
  z-index: 9;
  transition: 250ms ease-in background-color, 500ms ease-in color;
}
.caption a.btn:hover {
  background-color: black;
  color: white;
}

.container1{
  width: 100%;
  height: 70vh;
  background-color: #38332b;
  display: flex;
  position: relative;
}
.left-col, .right-col {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.left-col {
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}
.left-col .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center top !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
  transform: translateY(-100%);
  scale: 1;
  z-index: -1;
}
.left-col .slide.previous {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: 3s ease transform;
  will-change: transform;
}
.left-col .slide.previous.change {
  transform: translateY(50%);
}
.left-col .slide.next {
  transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.left-col .slide.current {
  opacity: 1;
  transform: translateY(0) scale(1.25);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-col .preview {
  max-width: 400px;
}

.nav {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}
.nav a {
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.nav:hover .slide-up, .nav:hover .slide-down {
  opacity: .5;
  transform: translateX(0);
}
.nav .slide-up, .nav .slide-down {
  display: block;
  position: absolute;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: .25s ease opacity,.25s ease transform;
  z-index: 99;
  top:40% !important;
}
.nav .slide-up:hover, .nav .slide-down:hover {
  opacity: 1;
}
.nav .slide-up a, .nav .slide-down a {
  text-decoration: none;
  font-weight: 300 !important;
}
.nav .slide-up {
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}
.nav .slide-down {
  top: 50%;
  right: 0;
  transform: translateX(100%);
}
.card-title{
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
marquee>a, marquee>a:hover{color:#000; text-decoration:none;}
.productbox {
    width:250px;
    height:auto;
    background-color:#ffffff;
    padding:10px;
  margin-bottom:10px;
   padding: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #fff;
        border: solid 1px #cbcbcb;
        transition: all .20s ease-in-out;
        display: inline-block;
}
.productbox img{
    width:235px;
    height:214px;
    }
.producttitle {
    font-weight:bold;
  padding:5px 0 5px 0; 
   width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    
}
.producttitle{
   color:#6a5e50 !important;
   text-decoration:none;
    }
.producttitle .btn{
    background-color:#EDEEF0;
}
.featured, .about, .contact{
  background:#6a5e50;
  padding: 10px;
}
.featured h2, .about h2, .contact h2{
  color: #fff;
}
